**GoBike 2017-19 dataset exploration**

by Konstantin Leonenko

# Preliminary Wrangling

> Briefly introduce your dataset here.

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import random

%matplotlib inline

## Load all the data from .csv files

In [2]:
gobike_2017 = pd.read_csv('data/gobike/2017-fordgobike-tripdata.csv')
gobike_2018_01 = pd.read_csv('data/gobike/201801-fordgobike-tripdata.csv')
gobike_2018_02 = pd.read_csv('data/gobike/201802-fordgobike-tripdata.csv')
gobike_2018_03 = pd.read_csv('data/gobike/201803-fordgobike-tripdata.csv')
gobike_2018_04 = pd.read_csv('data/gobike/201804-fordgobike-tripdata.csv')
gobike_2018_05 = pd.read_csv('data/gobike/201805-fordgobike-tripdata.csv')
gobike_2018_06 = pd.read_csv('data/gobike/201806-fordgobike-tripdata.csv')
gobike_2018_07 = pd.read_csv('data/gobike/201807-fordgobike-tripdata.csv')
gobike_2018_08 = pd.read_csv('data/gobike/201808-fordgobike-tripdata.csv')
gobike_2018_09 = pd.read_csv('data/gobike/201809-fordgobike-tripdata.csv')
gobike_2018_10 = pd.read_csv('data/gobike/201810-fordgobike-tripdata.csv')
gobike_2018_11 = pd.read_csv('data/gobike/201811-fordgobike-tripdata.csv')
gobike_2018_12 = pd.read_csv('data/gobike/201812-fordgobike-tripdata.csv')
gobike_2019_01 = pd.read_csv('data/gobike/201901-fordgobike-tripdata.csv')
gobike_2019_02 = pd.read_csv('data/gobike/201902-fordgobike-tripdata.csv')
gobike_2019_03 = pd.read_csv('data/gobike/201903-fordgobike-tripdata.csv')
gobike_2019_04 = pd.read_csv('data/gobike/201904-fordgobike-tripdata.csv')
gobike_2019_05 = pd.read_csv('data/gobike/201905-baywheels-tripdata.csv')
gobike_2019_06 = pd.read_csv('data/gobike/201906-baywheels-tripdata.csv')
# in the july 2019 dataset values are separated by semicolons rather than commas
gobike_2019_07 = pd.read_csv('data/gobike/201907-baywheels-tripdata.csv', delimiter = ';')
gobike_2019_08 = pd.read_csv('data/gobike/201908-baywheels-tripdata.csv')
gobike_2019_09 = pd.read_csv('data/gobike/201909-baywheels-tripdata.csv')
gobike_2019_10 = pd.read_csv('data/gobike/201910-baywheels-tripdata.csv')

/Users/s8/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/s8/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Merge all data into a single dataframe

In [3]:
df_gobike = pd.DataFrame(data = gobike_2017)
df_gobike = df_gobike.append(gobike_2018_01)
df_gobike = df_gobike.append(gobike_2018_02)
df_gobike = df_gobike.append(gobike_2018_03)
df_gobike = df_gobike.append(gobike_2018_04)
df_gobike = df_gobike.append(gobike_2018_05)
df_gobike = df_gobike.append(gobike_2018_06)
df_gobike = df_gobike.append(gobike_2018_07)
df_gobike = df_gobike.append(gobike_2018_08)
df_gobike = df_gobike.append(gobike_2018_09)
df_gobike = df_gobike.append(gobike_2018_10)
df_gobike = df_gobike.append(gobike_2018_11)
df_gobike = df_gobike.append(gobike_2018_12)
df_gobike = df_gobike.append(gobike_2019_01)
df_gobike = df_gobike.append(gobike_2019_02)
df_gobike = df_gobike.append(gobike_2019_03)
df_gobike = df_gobike.append(gobike_2019_04)
df_gobike = df_gobike.append(gobike_2019_05)
df_gobike = df_gobike.append(gobike_2019_06)
df_gobike = df_gobike.append(gobike_2019_07)
df_gobike = df_gobike.append(gobike_2019_08)
df_gobike = df_gobike.append(gobike_2019_09)
df_gobike = df_gobike.append(gobike_2019_10)

/Users/s8/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [4]:
df_gobike.columns

Index(['bike_id', 'bike_share_for_all_trip', 'duration_sec', 'end_station_id',
       'end_station_latitude', 'end_station_longitude', 'end_station_name',
       'end_time', 'member_birth_year', 'member_gender',
       'rental_access_method', 'start_station_id', 'start_station_latitude',
       'start_station_longitude', 'start_station_name', 'start_time',
       'user_type'],
      dtype='object')

In [5]:
df_gobike.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4554806 entries, 0 to 239894
Data columns (total 17 columns):
bike_id                    int64
bike_share_for_all_trip    object
duration_sec               int64
end_station_id             float64
end_station_latitude       float64
end_station_longitude      float64
end_station_name           object
end_time                   object
member_birth_year          float64
member_gender              object
rental_access_method       object
start_station_id           float64
start_station_latitude     float64
start_station_longitude    float64
start_station_name         object
start_time                 object
user_type                  object
dtypes: float64(7), int64(2), object(8)
memory usage: 625.5+ MB

In [6]:
df_gobike.head()

,bike_id,bike_share_for_all_trip,duration_sec,end_station_id,end_station_latitude,end_station_longitude,end_station_name,end_time,member_birth_year,member_gender,rental_access_method,start_station_id,start_station_latitude,start_station_longitude,start_station_name,start_time,user_type
0,96,NaN,80110,43.0,37.778768,-122.415929,San Francisco Public Library (Grove St at Hyde...,2018-01-01 15:12:50.2450,1987.0,Male,NaN,74.0,37.776435,-122.426244,Laguna St at Hayes St,2017-12-31 16:57:39.6540,Customer
1,88,NaN,78800,96.0,37.766210,-122.426614,Dolores St at 15th St,2018-01-01 13:49:55.6170,1965.0,Female,NaN,284.0,37.784872,-122.400876,Yerba Buena Center for the Arts (Howard St at ...,2017-12-31 15:56:34.8420,Customer
2,1094,NaN,45768,245.0,37.870348,-122.267764,Downtown Berkeley BART,2018-01-01 11:28:36.8830,NaN,NaN,NaN,245.0,37.870348,-122.267764,Downtown Berkeley BART,2017-12-31 22:45:48.4110,Customer
3,2831,NaN,62172,5.0,37.783899,-122.408445,Powell St BART Station (Market St at 5th St),2018-01-01 10:47:23.5310,NaN,NaN,NaN,60.0,37.774520,-122.409449,8th St at Ringold St,2017-12-31 17:31:10.6360,Customer
4,3167,NaN,43603,247.0,37.867789,-122.265896,Fulton St at Bancroft Way,2018-01-01 02:29:57.5710,1997.0,Female,NaN,239.0,37.868813,-122.258764,Bancroft Way at Telegraph Ave,2017-12-31 14:23:14.0010,Subscriber

In [7]:
# let's quickly see how much data is missing from the dataset
for i in df_gobike.columns:
    print (i, ' : ', len(df_gobike[df_gobike[i].isnull()]))

bike_id  :  0
bike_share_for_all_trip  :  611447
duration_sec  :  0
end_station_id  :  72354
end_station_latitude  :  0
end_station_longitude  :  0
end_station_name  :  71804
end_time  :  0
member_birth_year  :  432245
member_gender  :  419016
rental_access_method  :  4463059
start_station_id  :  70563
start_station_latitude  :  0
start_station_longitude  :  0
start_station_name  :  69967
start_time  :  0
user_type  :  0

mainly it's data about station id's and names. According to the rules of tidy data we should move the information about the stations, such as location, name, etc. into a separate table, and only keep trip start and end station id's in the dataset.

## Extract station geographical information into a separate dataframe

In [8]:
# let's extract start and end station information
df_start_stations = df_gobike[['start_station_id','start_station_latitude','start_station_longitude','start_station_name']]
df_end_stations =  df_gobike[['end_station_id','end_station_latitude','end_station_longitude','end_station_name']]
# start and end information belongs in the rides table, not in the station table.
# let's just merge these
df_start_stations = df_start_stations.rename(columns={'start_station_id':'station_id', 'start_station_latitude':'latitude','start_station_longitude':'longitude','start_station_name':'name'})
df_end_stations = df_end_stations.rename(columns={'end_station_id':'station_id', 'end_station_latitude':'latitude','end_station_longitude':'longitude','end_station_name':'name'})
df_stations = df_start_stations.append(df_end_stations)

In [9]:
df_stations.head()

,station_id,latitude,longitude,name
0,74.0,37.776435,-122.426244,Laguna St at Hayes St
1,284.0,37.784872,-122.400876,Yerba Buena Center for the Arts (Howard St at ...
2,245.0,37.870348,-122.267764,Downtown Berkeley BART
3,60.0,37.774520,-122.409449,8th St at Ringold St
4,239.0,37.868813,-122.258764,Bancroft Way at Telegraph Ave

In [10]:
# how many unique station id's are there?
print ('unique station ids: ', df_stations.station_id.nunique())
print ('unique station names: ', df_stations.name.nunique())
print ('total entries: ', len(df_stations))

unique station ids:  427
unique station names:  459
total entries:  9109612

In [11]:
# make a copy of the stations dataframe before cleaning
df_stations_clean = df_stations

In [12]:
# save stations with no id into a separate dataframe and remove them from the main station dataframe
df_null_stations = df_stations_clean[df_stations_clean.station_id.isnull()]
df_stations_clean.drop(df_null_stations.index, inplace=True)

In [13]:
# cast station id's from floats into ints
df_stations_clean.station_id = df_stations_clean.station_id.astype(int)

In [14]:
# store unique station id's in a list
station_ids = df_stations_clean.station_id.unique()

In [15]:
# create a dictionary of unique stations with their coordinates and names
stations = {}
for station_id in station_ids:
    names = df_stations_clean[df_stations_clean.station_id == station_id].name
    latitude = df_stations_clean[df_stations_clean.station_id == station_id].latitude.mean()
    longitude = df_stations_clean[df_stations_clean.station_id == station_id].longitude.mean()
    stations[station_id] = {
        'names':list(set(names)), 
        'latitude':round(latitude,3),
        'longitude':round(longitude,3)
    }

Now that we have station info stored in an efficient dictionary - let's remove station specific data from the main dataset

In [16]:
# before cleaning - make a copy of the dataset
df_gobike_clean = df_gobike

In [17]:
df_gobike_clean.head()

,bike_id,bike_share_for_all_trip,duration_sec,end_station_id,end_station_latitude,end_station_longitude,end_station_name,end_time,member_birth_year,member_gender,rental_access_method,start_station_id,start_station_latitude,start_station_longitude,start_station_name,start_time,user_type
0,96,NaN,80110,43.0,37.778768,-122.415929,San Francisco Public Library (Grove St at Hyde...,2018-01-01 15:12:50.2450,1987.0,Male,NaN,74.0,37.776435,-122.426244,Laguna St at Hayes St,2017-12-31 16:57:39.6540,Customer
1,88,NaN,78800,96.0,37.766210,-122.426614,Dolores St at 15th St,2018-01-01 13:49:55.6170,1965.0,Female,NaN,284.0,37.784872,-122.400876,Yerba Buena Center for the Arts (Howard St at ...,2017-12-31 15:56:34.8420,Customer
2,1094,NaN,45768,245.0,37.870348,-122.267764,Downtown Berkeley BART,2018-01-01 11:28:36.8830,NaN,NaN,NaN,245.0,37.870348,-122.267764,Downtown Berkeley BART,2017-12-31 22:45:48.4110,Customer
3,2831,NaN,62172,5.0,37.783899,-122.408445,Powell St BART Station (Market St at 5th St),2018-01-01 10:47:23.5310,NaN,NaN,NaN,60.0,37.774520,-122.409449,8th St at Ringold St,2017-12-31 17:31:10.6360,Customer
4,3167,NaN,43603,247.0,37.867789,-122.265896,Fulton St at Bancroft Way,2018-01-01 02:29:57.5710,1997.0,Female,NaN,239.0,37.868813,-122.258764,Bancroft Way at Telegraph Ave,2017-12-31 14:23:14.0010,Subscriber

In [18]:
drop_columns = ['start_station_name', 'end_station_name',
                'start_station_latitude', 'end_station_latitude',
               'start_station_longitude', 'end_station_longitude']
df_gobike_clean.drop(drop_columns, axis=1, inplace=True)

In [19]:
# how many trips don't have either start or end station id's?
null_start_station = df_gobike_clean[df_gobike_clean.start_station_id.isnull()]
null_end_station = df_gobike_clean[df_gobike_clean.end_station_id.isnull()]

print ('no start station: ', len(null_start_station))
print ('no end station: ', len(null_end_station))

no start station:  70563
no end station:  72354

In [21]:
# for the overview purpose of our analysis these records are not worth repairing
drop_stations = null_start_station.merge(null_end_station)
df_gobike_clean.drop(drop_stations.index, inplace=True)

### What is the structure of your dataset?
Dataset contains information about individual bicycle rides. Most important fields are:
- start station
- end station
- start time
- end time
- ride duration

In [ ]:
df_gobike.info()

### What is/are the main feature(s) of interest in your dataset?

- amount and duration of rides between specific stations

potential questions:
- most popular routes
- fastest ride on the most popular route
- slowest ride on the most popular route
- most popular start and end times

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!